{% extends 'hi960-hikey.jinja2' %}
{% set adb_serial_number = '4034918201000000' %}
{% set fastboot_serial_number = '4034918201000000' %}
{% set device_path = ['/dev/bus/usb/001'] %}
{% set power_on_command = 'ssh pi@192.168.31.193 relay-module.py -c CH1 -s on' %}
{% set power_off_command = 'ssh pi@192.168.31.193 relay-module.py -c CH1 -s off' %}
{% set hard_reset_command = 'ssh pi@192.168.31.193 relay-module.py -c CH1 -s reboot' %}
{% set pre_power_command = 'ssh pi@192.168.31.193 relay-module.py -c CH2 -s on' %}
{% set pre_os_command = 'ssh pi@192.168.31.193 relay-module.py -c CH2 -s off' %}
